<div align="center" style="background:#eee;padding:40px;border:solid #eee;box-shadow:0px 0px 3px #eee">
<table>
  <tr>
    <td>年级</td>
  </tr>
  <%@grades.each do |ge|%>
    <tr>
      <td><%=ge.gname%></td><td></td>
      <td><%=link_to '修改年级信息',edit_school_grade_path(params[:school_id],ge)%></td><td></td>
      <td><%=link_to '删除此年级',school_grade_path(params[:school_id],ge),
      method: :delete,
      data:{confirm: '你确定要删除此年级吗?'} %></td><td></td>
      <td><%=link_to '查看此年级的详细信息',school_grade_path(params[:school_id],ge)%></td>
      <td><%=link_to '添加对应的班级',new_school_grade_classschool_path(params[:school_id],ge)%></td>
    </tr>
  <% end %>

</table>
</div>
