<div align="center" style="background:#eee;padding:40px;border:solid #eee;box-shadow:0px 0px 3px #eee">
<table>
  <tr>
    <td>学校名字为:</td>
    <td><%=@school.sname%></td>
  </tr>

  <tr>
    <td>学校地址为:</td>
    <td><%=@school.ssite%></td>
  </tr>

  <tr>
    <td>学校电话为:</td>
    <td><%=@school.sphone%></td>
  </tr>

  <tr>
    <td><%=link_to '修改学校信息',edit_school_path(@school)%></td>
  </tr>
  <tr>
    <td><%=link_to '查看全部学校',schools_path%></td>
  </tr>
</table>

<%=form_for @grade, url:school_grades_path(params[:school_id],@grade) do |f| %>
  <table>

    <tr>
      <td>请输入年级:</td>
      <td><%=f.text_field:gname%></td>
    </tr>

    <tr>
      <td></td><td></td>
      <td><%=f.submit "提交"%></td>
    </tr>

  </table>
<% end %>
</div>
