<table>
  <tr>
    <td>教师：</td>
    <td><%=@teacher.tname%></td>
  </tr>

  <%=form_for @classschool,url: school_grade_classschool_path(params[:school_id],params[:grade_id]) do |f| %>

    <table>
      <tr>
        <td><%=f.label :请输入要修改的班级：%></td>
        <td><%=f.text_field:cname%></td>
      </tr>
      <tr>
        <td><%=f.label :请输入要修改的年级：%></td>
        <td><%=f.text_field :clocationgrade%></td>
      </tr>
      <tr>
        <td><%=f.submit "提交"%></td>
      </tr>

    </table>
    <% end %>
</table>
