<style>
body{
  position:absolute;
  top:-300px;
  left: 10px;
}
</style>
<body>

<div id="newschool" style="padding:400px">
<link rel="stylesheet" href="https://cdn.staticfile.org/foundation/5.5.3/css/foundation.min.css">
<div style="background:#eee;padding:40px;border:solid #eee;box-shadow:0px 0px 3px #eee">

  <h1 align="center">修改学校信息</h1>

  <%=form_for @teacher,url: school_grade_classschool_teacher_path(params[:school_id],params[:grade_id],params[:classschool_id]) do |f| %>
    <p>
      <h5>请输入要修改的教师编号:</h5>
      <h5><%=f.text_field :tnumber%></h5>
    </p>

    <p>
      <h5>请输入要修改的教师名称:</h5>
      <%=f.text_field :tname%>
    </p>

    <p>
      <h5>请输入要修改的教师性别:</h5>
      <%=f.text_field :tsex%>
    </p>
    <p>
      <h5><%=f.label :请输入要修改的教师职务%> </h5>
      <%=f.text_field:title%>
    </p>

    <p>
      <h5><%=f.label :请输入要修改的教师邮箱%></h5>
      <%=f.text_field:temail%>
    </p>

    <p>
    <%= link_to '查看学校全部信息', school_grade_classschool_teachers_path %>
    </p>
    <table align="center">
      <tr>
        <td><%=f.submit "提交修改后的信息"%></td>
      </tr>
    </table>
  <% end %>

  <div>
</body>
