<style>
  body{
    position:absolute;
    top:-300px;
    left: 10px;
  }
</style>
<script type="text/javascript">
  $(document).ready(function() {
    $(document).foundation();
  })
</script>
<body>

  <div id="newschool" style="padding:400px">
    <link rel="stylesheet" href="https://cdn.staticfile.org/foundation/5.5.3/css/foundation.min.css">
      <div style="background:#eee;padding:100px;border:solid #eee;box-shadow:0px 0px 3px #eee">
      <h1 align="center">学生添加</h1>

      <table>

        <tr>
          <td><h5>您的班级为:</h5></td>
          <td><h5><%=@classschool.cname%></td>
        </tr>

        <tr>
          <td><h5>所在的年级为:</h5></td>
          <td><h5><%= @classschool.clocationgrade%></td>
        </tr>
      </table>
      <%=form_for @teacher,url: school_grade_classschool_teachers_path(params[:school_id],params[:grade_id],params[:classschool_id],@teacher) do |f| %>
          <legend><h4><h4></legend>

            <label><h5>请输入教师编号：:</h5>
              <%=f.text_field :tnumber %>
            </label>

            <label><h5>请输入教师姓名:<h5>
              <%=f.text_field :tname%>
             <label>

            <label><h5>您的性别是（1：男，0：女）：</h5>
            <%=f.text_field :tsex%>
            <label>

            <label><h5>请输入教师职务：</h5>
            <%=f.text_field :title%>
            <label>

            <label><h5>请输入教师邮箱：</h5>
            <%=f.text_field :temail%>
            <label>

            <label>
              <%=link_to '查看所有教师信息',school_grade_classschool_teachers_path%>
            </label>

            <table  align="center">
              <tr>
                <td><%=f.submit "提交信息" %></td>
              </tr>
            </table>
          <% end %>
        <section>
    </div>
  </div>
</body>
