<html>

<style>
  body{
  /*绝对定位*/
    position:absolute;
    top:15px;
    left: 850px;
  }
  #userlogin{
        border-radius: 30px

  }
  #userlogin{
    opacity: 0.8;
  }
</style>
<!-- js实现 -->
<script type="text/javascript">
  $(document).ready(function() {
    $(document).foundation();
  })

</script>


<body style="background-image: url(http://i1.17173cdn.com/9ih5jd/YWxqaGBf/forum/images/2014/06/28/163532v8ngdtz2xfbe8r2b.jpg);
 background-size: cover;>

  <div id="newschool" ><!-- 页面间隔 style="padding:400px"-->

<!-- 实现Foundation框架 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/
    foundation/5.5.3/css/foundation.min.css">

<!-- 实现div区域背景颜色 -->
      <div id="userlogin" style="background:#eee;padding:100px;border:solid #eee;box-shadow:0px 0px 3px #eee">

      <h1 align="center">用户登录</h1>


       <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 
           <legend><h4><h4></legend>

            <label><h5>    <%= f.label :邮箱 %></h5>
              <%= f.text_field :email, autofocus: true, autocomplete: "email" %>
            </label>

            <label><h5> <%= f.label :密码 %><h5>
              <%= f.password_field :password, autocomplete: "current-password" %>
             <label>

            <label>
              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>
            </label>

            <table  align="center">
              <div>
                <%= f.submit "登录" %>
              </div>
            </table>
          <% end %>
          <%= render "devise/shared/links" %>
        <section>
    </div>
  </div>
</body>
</html>
